.home-container {
    padding: 0 5%;
    background-color: #0B72BA;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.home-header {
    text-align: left;
    color: white;
    font-size: 50px;
    grid-column: 1/9;
    grid-row: 1;
    margin-bottom: 10px;
}

.home-text {
    text-align: left;
    color: #a8c1d8;
    grid-column: 1/9;
    margin-top: 0;
    margin-bottom: 10px;
}

.home-btn {
    border-radius: 10px;
    background-color: #FF5857;
    color: white;
    padding: 15px 10px;
    margin-bottom: 10px;
    font-size: 15px;
    grid-column: 1/4;
    border: none;
}

.home-img {
    grid-column: 1/9;
    border-radius: 10px;
    width: 100%;
}

.usp-container {
    padding: 0 5%;
}

.usp-header {
    font-size: 50px;
    margin-bottom: 10px;
}

.usp-text {
    margin-top: 0;
    margin-bottom: 10px;
}

.usp-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
}

.usp-sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1/4;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.usp-icon-background {
    background-color: #FFCDCD;
    color: blue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.usp-icon{
    padding-top: 10px;
    padding-left: 30px;
    justify-self: center;
}

.services-container {
    padding: 0 5%;
    margin-bottom: 50px;
}

.services-header {
    font-size: 50px;
    margin-bottom: 10px;
}

.services-text {
    margin-top: 0;
    margin-bottom: 10px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 50px 5% 0 5%;
    grid-gap: 5px;
}

.services-sub-container {
    border: 5px solid lightgrey;
    border-radius: 5px;
    height: 200px;    
}

.services-link {
    text-decoration: none;
    grid-column: 1/5;
}

.services-sub-container:hover {
    background-color: rgb(240, 240, 240);
}

.services-icon {
    padding-top: 50px;
    color: rgb(62, 180, 219);
}

.services-sub-header {
    color: black;
}


@media screen and (min-width: 800px) {
    .home-container{
        padding: 30px 10%;
    }

    .home-header{
        grid-column: 1/4;
    }

    .home-text{
        grid-column: 1/4;
    }

    .home-btn{
        grid-column: 1/4;
        max-height: 60px;
        max-width: 250px;
    }

    .home-img{
        grid-column: 6/9;
        grid-row: 1/4;
        max-height: 500px;
        max-width: 400px;
    }

    .usp-container {
        padding: 0 10%;
    }

    .usp-sub-container {
        grid-column: span 1;
    }

    .services-grid {
        padding: 0 10%;
    }

    .services-link {
        grid-column: span 2;
    }
}